html {
    width: 100%;
    height: 70%;
    font-family: 'Luckiest Guy', cursive;
}
body {

    align-content: center;
    background-size: cover;
    background-image: url(circusbackground.jpg);
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;

}
.title {
    font-family: 'Luckiest Guy', cursive;
    color: white;
    font-size: 3vw;
    border: 1px solid red;
    background-color: darkslateblue;
    height: 10vw;
    text-align: center;
    opacity: 0.7;

   /*<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">*/
}

/*.start {
    position: relative;
    left: 84%;
    bottom: 46px;
    border-radius: 4px;
    background-color: yellow;
    border: 1px solid red;
    color: red;
}*/

.container {

    position: relative;
    left: 17vw;
    width: 31vw;
    bottom: 18vw;
}
.container2 {
    width: 31vw;
    height: 27vw;
    left: 17vw;
    bottom: 17vw;
    position: relative;


}
.score {
    height: 36vh;
    display: inline-block;
    color: yellow;
    text-align: center;
}
.clownBox {
    height: 10vw;
    position: relative;
    left: 53%;
    width: 10vw;
    display: inline-block;
    align-content: center;
    background-size: cover;
    background-image: url(box.jpg);
    background-position: center;
    }


.pennyWise {
    position: relative;
    height: 10vw;
    width: 10vw;
    align-content: center;
    background-size: cover;
    background-image: url(Untitled-1.png);
    background-position: center;
    animation: popOut 600ms;
}

.noShow {
    display: none;
}

h1 {
    position: relative;
    bottom: 60px;

    text-shadow: 0 0 20px red;
}

footer {
    width: 100%;
    color: red;
    text-align: center;
    position: fixed;
    bottom: 0;
    text-shadow: 0 0 20px white;
}

#modelShadow {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    display: none;
    z-index: 100;
  }

  #modelBody {
    position: fixed;
    left: 72%;
    top: 80%;
    width:50%;
    min-width: 50%;
    min-height: 50%;
    background-image: url(images/cry.gif);
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);

  }




@keyframes popOut {
    0%   {transform: scale(0,0);}
    100% {transform: scale(1,1);}
}