html {
    width: 100%;
    height: 70%;
    font-family: 'Luckiest Guy', cursive;
}
body {
    margin: 100;
    align-content: center;
    background-size: cover;
    background-image: url(circusbackground.jpg);
    background-attachment: fixed;
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;

}
.title {
    font-family: 'Luckiest Guy', cursive;
    color: red;
    font-size: 3vw;
    border: 1px solid red;
    background-color: black;
    height: 10vw;
    text-align: center;

   /*<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">*/
}

.start {
    position: relative;
    left: 84%;
    bottom: 46px;
}

.container {

    position: relative;
    left: 17vw;
    width: 31vw;
}
.container2 {
    width: 31vw;
    height: 27vw;
    left: 17vw;
    position: relative;


}
.score {
    background-color: #c39005;
    height: 2vw;
}
.clownBox {
    height: 10vw;
    width: 10vw;
    background-color: red;
    display: inline-block;
    align-content: center;
    background-size: cover;
    background-image: url(box.jpg);
    background-position: center;
    }

#id0, #id1, #id2, #id3, #id4, #id5, #id6, #id7, #id8 {

    position: relative;
    height: 10vw;
    width: 10vw;
    display: inline-block;
    align-content: center;
    background-size: cover;
    background-image: url(Untitled-1.png);
    background-position: center;
    bottom: 116%;}
