html {
    width: 100%;
    height: 70%;
    font-family: 'Luckiest Guy', cursive;
}
body {
    margin: 100;
    align-content: center;
    background-size: cover;
    background-image: url(circusbackground.jpg);
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;

}
.title {
    font-family: 'Luckiest Guy', cursive;
    color: white;
    font-size: 3vw;
    border: 1px solid red;
    background-color: darkslateblue;
    height: 10vw;
    text-align: center;
    opacity: 0.7;

   /*<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">*/
}

.start {
    position: relative;
    left: 84%;
    bottom: 46px;
    border-radius: 4px;
    background-color: yellow;
    border: 1px solid red;
    color: red;
}

.container {

    position: relative;
    left: 17vw;
    width: 31vw;
    bottom: 18vw;
}
.container2 {
    width: 31vw;
    height: 27vw;
    left: 17vw;
    bottom: 17vw;
    position: relative;


}
.score {
    height: 36vh;
    display: inline-block;
    color: yellow;
    text-align: center;
}
.clownBox {
    height: 10vw;
    position: relative;
    left: 53%;
    width: 10vw;
    background-color: red;
    display: inline-block;
    align-content: center;
    background-size: cover;
    background-image: url(box.jpg);
    background-position: center;
    }

#id0, #id1, #id2, #id3, #id4, #id5, #id6, #id7, #id8 {

    position: relative;
    height: 10vw;
    width: 10vw;
    align-content: center;
    background-size: cover;
    background-image: url(Untitled-1.png);
    background-position: center;
    left: 53%;
    bottom: 116%;
    display: none;
}

h1 {
    position: relative;
    bottom: 60px;
    text-shadow: 0 0 20px red;
}